openapi: 3.0.3

info:
  title: ORAXAI Integration API
  description: ORAXAI middleware entegrasyon servisleri
  version: "1.0.0"

servers:
  - url: https://wmsapi.oraxai.com
    description: Production

tags:
  - name: System
    description: Sistem servisleri
  - name: Materials
    description: Malzeme (SKU_MASTER) servisleri
  - name: Customers
    description: Müşteri/Cari servisleri
  - name: Inbound
    description: Depo giriş (irsaliye/fatura bazlı) servisleri
  - name: Shipment
    description: Sevkiyat servisleri

paths:
  /health:
    get:
      tags: [System]
      summary: Servis sağlık kontrolü
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  status:
                    type: string
                    example: ok

  /materials:
    post:
      tags: [Materials]
      summary: Material upsert (SKU_MASTER -> materials)
      description: |
        Malzeme kaydını sku_code üzerinden upsert eder (varsa günceller, yoksa oluşturur).
        Ek alanlar için external_attributes kullanılabilir (json object).
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MaterialUpsertRequest"
            examples:
              sample:
                value:
                  material_name: "Paracetamol 500mg 20 Tablet"
                  sku_code: "M1064329029"
                  alternate_sku_code: "ALT-123"
                  barcode_number: "08699514120117"
                  gtin: "08699514120117"
                  category: "FINISHED_GOOD"
                  packaging_type: "BOX"
                  base_unit: "PIECE"
                  manufacturer: "ACME Pharma"
                  shelf_life: 730
                  shelf_life_unit: "DAY"
                  units_per_pallet: 480
                  units_per_box: 24
                  unit_weight_bundle: 0.25
                  external_attributes:
                    customer_specific_code: "PH-7788"
                    cold_chain: false
                    note: "first import"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MaterialUpsertResponse"
              examples:
                created:
                  value:
                    success: true
                    action: "CREATED"
                    sku_code: "M1064329029"
                    message: "Material created."
                updated:
                  value:
                    success: true
                    action: "UPDATED"
                    sku_code: "M1064329029"
                    message: "Material updated."
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericErrorResponse"
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericErrorResponse"

  /customers:
    post:
      tags: [Customers]
      summary: Customer upsert
      description: |
        Customer kaydını customer_code üzerinden upsert eder (varsa günceller, yoksa oluşturur).
        Ek alanlar için external_attributes kullanılabilir (json object).
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomerUpsertRequest"
            examples:
              sample:
                value:
                  customer_code: "900001"
                  customer_name: "ACME ECZA DEPOSU A.Ş."
                  customer_short_name: "ACME"
                  address: "İzmir OSB ... No:1 Bornova/İzmir"
                  gln: "8699999000001"
                  shipto_gln: "8699999000002"
                  status: "ACTIVE"
                  external_attributes:
                    logo_customer_code: "L-12345"
                    note: "imported from LOGO"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerUpsertResponse"
              examples:
                created:
                  value:
                    success: true
                    action: "CREATED"
                    customer_code: "900001"
                    message: "Customer created."
                updated:
                  value:
                    success: true
                    action: "UPDATED"
                    customer_code: "900001"
                    message: "Customer updated."
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericErrorResponse"
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericErrorResponse"

  /inbound-orders:
    post:
      tags: [Inbound]
      summary: Inbound order create (pre-advice)
      description: |
        İlaç firması depoya ürün göndermeden önce depo giriş bilgilerini iletir.
        Bu kayıt fiş tipindedir: aynı invoice_number tekrar kabul edilmemelidir.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InboundOrderRequest"
            examples:
              sample:
                value:
                  warehouse_code: "T1006"
                  invoice_number: "1111111"
                  invoice_date: "2025-11-01"
                  order_number: "1234567"
                  items:
                    - sku_code: "123456"
                      quantity: 100
                      lot: "LT01"
                      production_date: "2025-11-01"
                      expiry_date: "2027-12-31"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccessResponse"
              examples:
                ok:
                  value:
                    success: true
                    message: "Inbound order created."
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericErrorResponse"
        "404":
          description: Not found (warehouse/sku sistemde yok)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericErrorResponse"
        "409":
          description: Conflict (duplicate invoice_number)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericErrorResponse"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericErrorResponse"

  /shipment-order:
    post:
      tags: [Shipment]
      summary: Shipment order oluştur
      description: Sevkiyat emrini ve kalemlerini oluşturur.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ShipmentOrderRequest"
            examples:
              sample:
                value:
                  company_id: "T1006"
                  order_number: "1234567890"
                  order_ref_number: "ABC-REF-2025"
                  customer_id: "900001"
                  order_date: "2025-12-31"
                  warehouse_id: "T1006"
                  items:
                    - sku: "T1006SKU1"
                      lot: "LOT-001"
                      qty: 10
                    - sku: "T1006SKU2"
                      lot: "LOT-002"
                      qty: 10
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccessResponse"
              examples:
                ok:
                  value:
                    success: true
                    message: "Shipment order created."
                    order_number: "1234567890"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericErrorResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericErrorResponse"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericErrorResponse"

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key

  schemas:
    # -------------------------
    # MATERIALS
    # -------------------------
    MaterialUpsertRequest:
      type: object
      additionalProperties: false
      required:
        - material_name
        - sku_code
        - barcode_number
        - gtin
        - category
        - packaging_type
        - base_unit
        - manufacturer
        - shelf_life_unit
      properties:
        material_name:
          type: string
          example: "Paracetamol 500mg 20 Tablet"

        sku_code:
          type: string
          example: "M1064329029"

        alternate_sku_code:
          type: string
          nullable: true

        barcode_number:
          type: string
          example: "08699514120117"

        gtin:
          type: string
          example: "08699514120117"

        category:
          type: string
          enum: [RAW_MATERIAL, FINISHED_GOOD, CONSUMABLE, OTHER]
          x-enum-descriptions: ["Hammadde", "Mamul", "Sarf Malzeme", "Diğer"]

        packaging_type:
          type: string
          enum: [PALLET, BOX, BUNDLE, OTHER]
          x-enum-descriptions: ["Palet", "Koli", "Bağ", "Diğer"]

        base_unit:
          type: string
          enum: [PIECE, KILOGRAM]
          x-enum-descriptions: ["Adet", "Kilo"]

        manufacturer:
          type: string
          example: "ACME Pharma"

        shelf_life:
          type: integer
          nullable: true
          example: 730

        shelf_life_unit:
          type: string
          enum: [DAY, MONTH, YEAR]
          x-enum-descriptions: ["Gün", "Ay", "Yıl"]

        units_per_pallet:
          type: integer
          nullable: true

        units_per_box:
          type: integer
          nullable: true

        unit_weight_bundle:
          type: number
          nullable: true

        external_attributes:
          type: object
          nullable: true
          description: |
            Opsiyonel. Karşı tarafın ekstra alan gönderebilmesi için serbest key-value alanı.
            Örn: {"color":"blue","hazmat":true,"customCode":"X-123"}
          additionalProperties: true

    MaterialUpsertResponse:
      type: object
      properties:
        success:
          type: boolean
        action:
          type: string
          enum: [CREATED, UPDATED]
        sku_code:
          type: string
        message:
          type: string

    # -------------------------
    # CUSTOMERS
    # -------------------------
    CustomerUpsertRequest:
      type: object
      additionalProperties: false
      required:
        - customer_code
        - customer_name
        - customer_short_name
        - status
      properties:
        customer_code:
          type: string
          minLength: 1
          description: "Zorunlu. Unique."
          example: "900001"

        customer_name:
          type: string
          minLength: 1
          description: "Zorunlu."
          example: "ACME ECZA DEPOSU A.Ş."

        customer_short_name:
          type: string
          minLength: 1
          description: "Zorunlu."
          example: "ACME"

        address:
          type: string
          nullable: true
          description: "Opsiyonel."
          example: "İzmir OSB ... No:1 Bornova/İzmir"

        gln:
          type: string
          nullable: true
          description: "Opsiyonel."
          example: "8699999000001"

        shipto_gln:
          type: string
          nullable: true
          description: "Opsiyonel."
          example: "8699999000002"

        status:
          type: string
          description: "Zorunlu."
          enum: [ACTIVE, PASSIVE]
          x-enum-descriptions: ["Aktif", "Pasif"]
          example: "ACTIVE"

        external_attributes:
          type: object
          nullable: true
          description: "Opsiyonel serbest alan (json object)."
          additionalProperties: true

    CustomerUpsertResponse:
      type: object
      properties:
        success:
          type: boolean
        action:
          type: string
          enum: [CREATED, UPDATED]
        customer_code:
          type: string
        message:
          type: string

    # -------------------------
    # INBOUND (PRE-ADVICE)
    # -------------------------
    InboundOrderRequest:
      type: object
      additionalProperties: false
      required:
        - warehouse_code
        - invoice_number
        - invoice_date
        - order_number
        - items
      properties:
        warehouse_code:
          type: string
          minLength: 1
          description: "Zorunlu. Depo kodu."
          example: "T1006"

        invoice_number:
          type: string
          minLength: 1
          description: "Zorunlu. Aynı invoice_number tekrar kabul edilmez."
          example: "1111111"

        invoice_date:
          type: string
          format: date
          description: "Zorunlu. YYYY-MM-DD."
          example: "2025-11-01"

        order_number:
          type: string
          minLength: 1
          description: "Zorunlu. Sipariş numarası."
          example: "1234567"

        items:
          type: array
          minItems: 1
          description: "Zorunlu. En az 1 kalem."
          items:
            $ref: "#/components/schemas/InboundOrderItem"

    InboundOrderItem:
      type: object
      additionalProperties: false
      required:
        - sku_code
        - quantity
        - lot
        - production_date
        - expiry_date
      properties:
        sku_code:
          type: string
          minLength: 1
          description: "Zorunlu. Sistemde tanımlı SKU."
          example: "123456"

        quantity:
          type: number
          minimum: 0.000001
          description: "Zorunlu."
          example: 100

        lot:
          type: string
          minLength: 1
          description: "Zorunlu. LOT/Batch."
          example: "LT01"

        production_date:
          type: string
          format: date
          description: "Zorunlu. Üretim tarihi."
          example: "2025-11-01"

        expiry_date:
          type: string
          format: date
          description: "Zorunlu. Son kullanma tarihi."
          example: "2027-12-31"

    # -------------------------
    # SHIPMENT
    # -------------------------
    ShipmentOrderRequest:
      type: object
      additionalProperties: false
      required:
        - company_id
        - order_number
        - customer_id
        - order_date
        - warehouse_id
        - items
      properties:
        company_id:
          type: string
          description: "Zorunlu. Her zaman T1006 olmalı."
          enum: ["T1006"]
          example: "T1006"

        order_number:
          type: string
          description: "Zorunlu."
          minLength: 1
          example: "1234567890"

        order_ref_number:
          type: string
          description: "Opsiyonel."
          nullable: true
          example: "ABC-REF-2025"

        customer_id:
          type: string
          description: "Zorunlu. Sistemde tanımlı geçerli müşteri numarası olmalı."
          minLength: 1
          example: "900001"

        order_date:
          type: string
          format: date
          description: "Zorunlu. YYYY-MM-DD."
          example: "2025-12-31"

        warehouse_id:
          type: string
          description: "Zorunlu. Her zaman T1006 olmalı."
          enum: ["T1006"]
          example: "T1006"

        items:
          type: array
          description: "Zorunlu. En az 1 kalem."
          minItems: 1
          items:
            $ref: "#/components/schemas/ShipmentOrderItem"

    ShipmentOrderItem:
      type: object
      additionalProperties: false
      required: [sku, lot, qty]
      properties:
        sku:
          type: string
          description: "Sistemde tanımlı geçerli SKU olmalı."
          minLength: 1
          example: "T1006SKU1"

        lot:
          type: string
          description: "Sistemde tanımlı geçerli LOT olmalı."
          minLength: 1
          example: "LOT-001"

        qty:
          type: integer
          format: int32
          description: "Adet."
          minimum: 1
          example: 10

    # -------------------------
    # COMMON
    # -------------------------
    GenericSuccessResponse:
      type: object
      description: Example success response (adjust to your real API response).
      additionalProperties: true
      properties:
        success:
          type: boolean
          example: true
        message:
          type: string
          example: "OK"
        order_number:
          type: string
          example: "1234567890"

    GenericErrorResponse:
      type: object
      description: Example error response (adjust to your real API response).
      additionalProperties: true
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
          example: "Error"
        errors:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
                example: "field_name"
              message:
                type: string
                example: "Validation message"
