openapi: 3.0.3

info:
  title: ORAXAI Integration API
  description: ORAXAI middleware entegrasyon servisleri
  version: "1.0.0"

servers:
  - url: https://wmsapi.oraxai.com
    description: Test

tags:
  - name: System
    description: Sistem servisleri
  - name: Material
    description: Malzeme (SKU_MASTER) servisleri
  - name: Customer
    description: Müşteri/Cari servisleri
  - name: Inbound
    description: Depo giriş (pre-advice) servisleri
  - name: Shipment
    description: Sevkiyat servisleri

paths:
  /health:
    get:
      tags: [System]
      summary: Servis sağlık kontrolü
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok

  /material:
    post:
      tags: [Material]
      summary: Material upsert
      description: sku_code üzerinden upsert eder.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MaterialRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericUpsertResponse"

  /customer:
    post:
      tags: [Customer]
      summary: Customer upsert
      description: customer_code üzerinden upsert eder.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomerRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericUpsertResponse"

  /inbound-order:
    post:
      tags: [Inbound]
      summary: Inbound order create (pre-advice)
      description: |
        İlaç firması depoya ürün göndermeden önce depo giriş bilgisini iletir.
        invoice_number tekildir.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InboundOrderRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccessResponse"
        "409":
          description: Duplicate invoice_number

  /shipment-order:
    post:
      tags: [Shipment]
      summary: Shipment order oluştur
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ShipmentOrderRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccessResponse"

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key

  schemas:

    MaterialRequest:
      type: object
      required: [company_id, material_name, sku_code, gtin, manufacturer]
      properties:
        company_id:
          type: string
          enum: ["T1006"]
        material_name:
          type: string
        sku_code:
          type: string
        alternate_sku_code:
          type: string
          nullable: true
        barcode_number:
          type: string
          nullable: true
        gtin:
          type: string
        category:
          type: integer
          nullable: true
        packaging_type:
          type: integer
          nullable: true
        base_unit:
          type: integer
          nullable: true
        manufacturer:
          type: string
        shelf_life:
          type: integer
          nullable: true
        shelf_life_unit:
          type: integer
          nullable: true
        units_per_pallet:
          type: integer
          nullable: true
        units_per_box:
          type: integer
          nullable: true
        unit_weight_bundle:
          type: number
          nullable: true
        external_attributes:
          type: object
          nullable: true
          additionalProperties: true

    CustomerRequest:
      type: object
      required:
        - company_id
        - customer_code
        - customer_name
        - customer_short_name
        - address
        - status
      properties:
        company_id:
          type: string
          enum: ["T1006"]
        customer_code:
          type: string
        customer_name:
          type: string
        customer_short_name:
          type: string
        address:
          type: string
        gln:
          type: string
          nullable: true
        status:
          type: integer
        shipto_addresses:
          type: array
          nullable: true
          items:
            $ref: "#/components/schemas/ShipToAddress"
        external_attributes:
          type: object
          nullable: true
          additionalProperties: true

    ShipToAddress:
      type: object
      required: [shipto_code, shipto_name, address, status]
      properties:
        shipto_code:
          type: string
        shipto_name:
          type: string
        address:
          type: string
        shipto_gln:
          type: string
          nullable: true
        status:
          type: integer
        external_attributes:
          type: object
          nullable: true
          additionalProperties: true

    InboundOrderRequest:
      type: object
      required:
        - company_id
        - warehouse_code
        - invoice_number
        - invoice_date
        - order_number
        - items
      properties:
        company_id:
          type: string
          enum: ["T1006"]
        warehouse_code:
          type: string
          enum: ["T1006"]
        supplier_code:
          type: string
          nullable: true
          description: "Opsiyonel. Tedarikçi (cari) kodu."
          example: "SUP-001"
        invoice_number:
          type: string
        invoice_date:
          type: string
          format: date
        order_number:
          type: string
        pts_transfer_id:
          type: string
          nullable: true
        items:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/InboundOrderItem"

    InboundOrderItem:
      type: object
      required:
        - sku_code
        - quantity
        - lot
        - production_date
        - expiry_date
      properties:
        sku_code:
          type: string
        quantity:
          type: number
        lot:
          type: string
        production_date:
          type: string
          format: date
        expiry_date:
          type: string
          format: date

    ShipmentOrderRequest:
      type: object
      required:
        - company_id
        - order_number
        - customer_id
        - shipto_code
        - order_date
        - warehouse_id
        - items
      properties:
        company_id:
          type: string
          enum: ["T1006"]
        order_number:
          type: string
        order_ref_number:
          type: string
          nullable: true
        customer_id:
          type: string
        shipto_code:
          type: string
        order_date:
          type: string
          format: date
        warehouse_id:
          type: string
          enum: ["T1006"]
        items:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/ShipmentOrderItem"

    ShipmentOrderItem:
      type: object
      required: [sku, lot, qty]
      properties:
        sku:
          type: string
        lot:
          type: string
        qty:
          type: integer

    GenericSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        order_number:
          type: string
          nullable: true

    GenericUpsertResponse:
      type: object
      properties:
        success:
          type: boolean
        action:
          type: string
          enum: [CREATED, UPDATED]
        message:
          type: string

    GenericErrorResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        errors:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
