openapi: 3.0.3

info:
  title: ORAXAI Integration API
  description: ORAXAI middleware entegrasyon servisleri
  version: "1.0.0"

servers:
  - url: https://wmsapi.oraxai.com
    description: Production

tags:
  - name: System
    description: Sistem servisleri
  - name: Materials
    description: Malzeme (SKU_MASTER) servisleri
  - name: Shipment
    description: Sevkiyat servisleri

paths:
  /health:
    get:
      tags: [System]
      summary: Servis sağlık kontrolü
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  status:
                    type: string
                    example: ok

  /materials:
    post:
      tags: [Materials]
      summary: Material upsert (SKU_MASTER -> materials)
      description: |
        Malzeme kaydını sku_code üzerinden upsert eder (varsa günceller, yoksa oluşturur).
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MaterialUpsertRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MaterialUpsertResponse"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericErrorResponse"
        "409":
          description: Conflict
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericErrorResponse"

  /shipment-order:
    post:
      tags: [Shipment]
      summary: Shipment order oluştur
      description: Sevkiyat emrini ve kalemlerini oluşturur.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ShipmentOrderRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccessResponse"
        "400":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericErrorResponse"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericErrorResponse"
        "500":
          description: Server error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericErrorResponse"

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key

  schemas:

    # -------------------------
    # MATERIALS
    # -------------------------
    MaterialUpsertRequest:
      type: object
      additionalProperties: false
      required:
        - material_name
        - sku_code
        - barcode_number
        - gtin
        - category
        - packaging_type
        - base_unit
        - manufacturer
        - shelf_life_unit
      properties:
        material_name:
          type: string
          example: "Paracetamol 500mg 20 Tablet"

        sku_code:
          type: string
          example: "M1064329029"

        alternate_sku_code:
          type: string
          nullable: true

        barcode_number:
          type: string
          example: "08699514120117"

        gtin:
          type: string
          example: "08699514120117"

        category:
          type: string
          enum: [RAW_MATERIAL, FINISHED_GOOD, CONSUMABLE, OTHER]
          x-enum-descriptions: ["Hammadde", "Mamul", "Sarf Malzeme", "Diğer"]

        packaging_type:
          type: string
          enum: [PALLET, BOX, BUNDLE, OTHER]
          x-enum-descriptions: ["Palet", "Koli", "Bağ", "Diğer"]

        base_unit:
          type: string
          enum: [PIECE, KILOGRAM]
          x-enum-descriptions: ["Adet", "Kilo"]

        manufacturer:
          type: string
          example: "ACME Pharma"

        shelf_life:
          type: integer
          nullable: true
          example: 730

        shelf_life_unit:
          type: string
          enum: [DAY, MONTH, YEAR]
          x-enum-descriptions: ["Gün", "Ay", "Yıl"]

        units_per_pallet:
          type: integer
          nullable: true

        units_per_box:
          type: integer
          nullable: true

        unit_weight_bundle:
          type: number
          nullable: true

    MaterialUpsertResponse:
      type: object
      properties:
        success:
          type: boolean
        action:
          type: string
          enum: [CREATED, UPDATED]
        sku_code:
          type: string
        message:
          type: string

    # -------------------------
    # SHIPMENT
    # -------------------------
    ShipmentOrderRequest:
      type: object
      additionalProperties: false
      required:
        - company_id
        - order_number
        - customer_id
        - order_date
        - warehouse_id
        - items
      properties:
        company_id:
          type: string
          enum: ["T1006"]

        order_number:
          type: string

        order_ref_number:
          type: string
          nullable: true

        customer_id:
          type: string

        order_date:
          type: string
          format: date

        warehouse_id:
          type: string
          enum: ["T1006"]

        items:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/ShipmentOrderItem"

    ShipmentOrderItem:
      type: object
      additionalProperties: false
      required: [sku, lot, qty]
      properties:
        sku:
          type: string

        lot:
          type: string

        qty:
          type: integer
          minimum: 1

    # -------------------------
    # COMMON
    # -------------------------
    GenericSuccessResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        order_number:
          type: string

    GenericErrorResponse:
      type: object
      properties:
        success:
          type: boolean
        message:
          type: string
        errors:
          type: array
          items:
            type: object
            properties:
              field:
                type: string
              message:
                type: string
