openapi: 3.0.3

info:
  title: ORAXAI Integration API
  description: ORAXAI middleware entegrasyon servisleri
  version: "1.0.0"

servers:
  - url: https://wmsapi.oraxai.com
    description: Test

tags:
  - name: System
    description: Sistem servisleri
  - name: Material
    description: Malzeme (SKU_MASTER) servisleri
  - name: Customer
    description: Müşteri/Cari servisleri
  - name: Inbound
    description: Depo giriş (pre-advice) servisleri
  - name: Shipment
    description: Sevkiyat servisleri
  - name: Query
    description: Sorgu (query) servisleri

paths:
  /health:
    get:
      tags: [System]
      summary: Servis sağlık kontrolü
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok

  /material:
    post:
      tags: [Material]
      summary: Material upsert
      description: sku_code üzerinden upsert eder.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MaterialRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericUpsertResponse"

  /customer:
    post:
      tags: [Customer]
      summary: Customer upsert
      description: customer_code üzerinden upsert eder.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomerRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericUpsertResponse"

  /inbound-order:
    post:
      tags: [Inbound]
      summary: Inbound order create (pre-advice)
      description: |
        İlaç firması depoya ürün göndermeden önce depo giriş bilgisini iletir.
        invoice_number tekildir.
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InboundOrderRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccessResponse"
        "409":
          description: Duplicate invoice_number

  /shipment-order:
    post:
      tags: [Shipment]
      summary: Shipment order oluştur
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ShipmentOrderRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericSuccessResponse"

  # ---------------------------
  # QUERY SERVİSLERİ (YENİ)
  # ---------------------------

  /query/order/{order_number}:
    get:
      tags: [Query]
      summary: Order query (tek kayıt)
      description: order_number ile order event detayını getirir.
      security:
        - ApiKeyAuth: []
      parameters:
        - name: order_number
          in: path
          required: true
          schema:
            type: string
          example: "54321"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderQueryResponse"
              example:
                company_id: "1006"
                data:
                  customer_code: "120.04.020"
                  items:
                    - lot_number: "R2329047"
                      quantity: 7800
                      sku: "1405-009"
                    - lot_number: "R2372048"
                      quantity: 9200
                      sku: "1405-009"
                    - lot_number: "9450000049-Q"
                      quantity: 3600
                      sku: "1201-111026"
                  order_type: "outbound"
                  pts_transfer_id: "11223456"
                  warehouse_code: "1006"
                entity_id: "54321"
                entity_type: "ORDER"
                event_key: "shipping"
                status: "completed"
                timestamp: "2024-01-15T10:30:00Z"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenericErrorResponse"

  /query/list/order:
    get:
      tags: [Query]
      summary: Order list query (tarih aralığı ile)
      description: |
        Order event kayıtlarını listeler.
        start_date ve end_date opsiyoneldir. Format: YYYY-MM-DD
      security:
        - ApiKeyAuth: []
      parameters:
        - name: start_date
          in: query
          required: false
          description: Başlangıç tarihi (YYYY-MM-DD)
          schema:
            type: string
            format: date
          example: "2025-01-01"
        - name: end_date
          in: query
          required: false
          description: Bitiş tarihi (YYYY-MM-DD)
          schema:
            type: string
            format: date
          example: "2025-01-31"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrderListQueryResponse"
        "401":
          description: Unauthorized
        "403":
          description: Forbidden

  /query/stock/{warehouse_id}:
    get:
      tags: [Query]
      summary: Stock query (depo bazlı)
      description: warehouse_id ile depo stok durumunu getirir.
      security:
        - ApiKeyAuth: []
      parameters:
        - name: warehouse_id
          in: path
          required: true
          schema:
            type: string
          example: "T1006"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StockQueryResponse"
              example:
                stock_status:
                  available:
                    description: "Available for shipment"
                    items:
                      - lot_number: "9450000050"
                        quantity: 960
                        sku: "1201-111024"
                    total_items: 1
                    total_quantity: 960
                  quarantine:
                    description: "In quarantine area (Quality Hold / Blocked / Return / Disposal)"
                    items:
                      - lot_number: "R2329047"
                        quantity: 7800
                        sku: "1405-009"
                    total_items: 1
                    total_quantity: 7800
                  staging:
                    description: "In staging area, ready for shipment"
                    items:
                      - lot_number: "R2347031-R"
                        quantity: 1200
                        sku: "1405-008"
                    total_items: 1
                    total_quantity: 1200
                  unconfirmed:
                    description: "Received but not yet confirmed or approved"
                    items:
                      - lot_number: "UC-20241230-01"
                        quantity: 5400
                        sku: "1501-002"
                    total_items: 1
                    total_quantity: 5400
                summary:
                  grand_total_quantity: 15360
                  total_available_quantity: 960
                  total_quarantine_quantity: 7800
                  total_staging_quantity: 1200
                  total_unconfirmed_quantity: 5400
                type: "STOCK"
                updated_at: "2025-01-01T13:45:00Z"
                warehouse_id: "T1006"

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key

  schemas:
    MaterialRequest:
      type: object
      required: [company_id, material_name, sku_code, gtin, manufacturer]
      properties:
        company_id:
          type: string
          enum: ["T1006"]
        material_name:
          type: string
        sku_code:
          type: string
        alternate_sku_code:
          type: string
          nullable: true
        barcode_number:
          type: string
          nullable: true
        gtin:
          type: string
        category:
          type: integer
          nullable: true
        packaging_type:
          type: integer
          nullable: true
        base_unit:
          type: integer
          nullable: true
        manufacturer:
          type: string
        shelf_life:
          type: integer
          nullable: true
        shelf_life_unit:
          type: integer
          nullable: true
        units_per_pallet:
          type: integer
          nullable: true
        units_per_box:
          type: integer
          nullable: true
        unit_weight_bundle:
          type: number
          nullable: true
        external_attributes:
          type: object
          nullable: true
          additionalProperties: true

    CustomerRequest:
      type: object
      required:
        - company_id
        - customer_code
        - customer_name
        - customer_short_name
        - address
        - status
      properties:
        company_id:
          type: string
          enum: ["T1006"]
        customer_code:
          type: string
        customer_name:
          type: string
        customer_short_name:
          type: string
        address:
          type: string
        gln:
          type: string
          nullable: true
        status:
          type: integer
        shipto_addresses:
          type: array
          nullable: true
          items:
            $ref: "#/components/schemas/ShipToAddress"
        external_attributes:
          type: object
          nullable: true
          additionalProperties: true

    ShipToAddress:
      type: object
      required: [shipto_code, shipto_name, address, status]
      properties:
        shipto_code:
          type: string
        shipto_name:
          type: string
        address:
          type: string
        shipto_gln:
          type: string
          nullable: true
        status:
          type: integer
        external_attributes:
          type: object
          nullable: true
          additionalProperties: true

    InboundOrderRequest:
      type: object
      required:
        - company_id
        - warehouse_code
        - invoice_number
        - invoice_date
        - order_number
        - items
      properties:
        company_id:
          type: string
          enum: ["T1006"]
        warehouse_code:
          type: string
          enum: ["T1006"]
        supplier_code:
          type: string
          nullable: true
          description: "Opsiyonel. Tedarikçi (cari) kodu."
          example: "SUP-001"
        invoice_number:
          type: string
        invoice_date:
          type: string
          format: date
        order_number:
          type: string
        pts_transfer_id:
          type: string
          nullable: true
        items:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/InboundOrderItem"

    InboundOrderItem:
      type: object
      required:
        - sku_code
        - quantity
        - lot
        - production_date
        - expiry_date
      properties:
        sku_code:
          type: string
        quantity:
          type: number
        lot:
          type: string
        production_date:
          type: string
          format: date
        expiry_date:
          type: string
          format: date

    ShipmentOrderRequest:
      type: object
      required:
        - company_id
        - order_number
        - customer_id
        - shipto_code
        - order_date
        - warehouse_id
        - items
      properties:
        company_id:
          type: string
          enum: ["T1006"]
        order_number:
          type: string
        order_ref_number:
          type: string
          nullable: true
        customer_id:
          type: string
        shipto_code:
          type: string
        order_date:
          type: string
          format: date
        warehouse_id:
          type: string
          enum: ["T1006"]
        items:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/ShipmentOrderItem"

    ShipmentOrderItem:
      type: object
      required: [sku, lot, qty]
      properties:
        sku:
          type: string
        lot:
          type: string
        qty:
          type: integer

    # ---------------------------
    #
